<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>拳皇</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="icon" href="/static/images/icon/logo.jfif">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
</head>

<body>
    <div id="kof"></div>

    <script type="module">
        import { KOF } from '/static/js/base.js';

        let kof = new KOF('kof');
    </script>
</body>

</html>