#kof {
    width: 1280px;
    height: 720px;
    background-size: 200% 100%;
    background-image: url('/static/images/background/0.gif');
    background-position: top;
    position: absolute;
    display: flex;
}

#kof>.kof-head {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
}

#kof>.kof-head>.kof-head-hp-0 {
    height: 40px;
    width: calc(50% - 70px);
    margin-left: 20px;
    margin-right: 5px;
    border: 2px solid white;
}

#kof>.kof-head>.kof-head-timer {
    height: 60px;
    width: 80px;
    background-color: orange;
    border: white 2px solid;
    color: white;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    line-height: 60px;
    user-select: none;
}

#kof>.kof-head>.kof-head-hp-1 {
    height: 40px;
    width: calc(50% - 70px);
    margin-left: 5px;
    border: white 2px solid;
}

#kof>.kof-head>.kof-head-hp-0>div {
    height: 100%;
    width: 100%;
    background-color: lightgreen;
    float: right;
}

#kof>.kof-head>.kof-head-hp-1>div {
    height: 100%;
    width: 100%;
    background-color: lightgreen;
    
}